.other-job-link  {
	color: #9c0f5f !important;
}

#heading {
	background:#9c0f5f;
	color: white;
}

.navbar {
	background:#9c0f5f;
	border-radius: 0px;
}

#logo {
	width: 10%;
	margin-left: 20%;
}

/* configuration for form area */
.jf {
	background: #EEE;
	padding: 43px;
}

@media (max-width: 500px) {
	.jf {
		padding: 7%;
		background: #EEE;
	}
	.iform {
		background: #EEE;
	}
}


.required-field-mark  {
	color:red;
}

.job-heading {
	font-size: 221%;
}