.other-job-link  {
	color: #3F51B5 !important;
}

#heading {
	background:#3F51B5;
	color: white;
}

.navbar {
	background:#3F51B5;
	border-radius: 0px;
}

.better-row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

/* configuration for form area */
.jf {
	background: #EEE;
	padding: 43px;
}

@media (max-width: 500px) {
	.jf {
		padding: 5%;
	}
	.better-row {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.iform {
			background: #EEE;
	}
	.job-layout.is-small-screen .job-content {
	    padding: 40px 16px !important;
	}
}


.required-field-mark  {
	color:red;
}

.job-heading {
	font-size: 221%;
}