.navbar {
	background: none;
}

.jf {
	background: #EEE;
	padding: 43px;
}

#heading {
	padding-bottom: 3%;
	background: #5BB12F;
	color:white;
	margin-bottom: 3%;
}

body {
	background: #354458;
}

.container{
	background:white;
}


#form {
	box-shadow: 0px 10px 100px 1px black;
}
