/*.navbar {
	background: none;
}

.jf {
	background: #EEE;
	padding: 43px;
}

#heading {
	padding-bottom: 3%;
	background: #5BB12F;
	color:white;
	margin-bottom: 3%;
}

body {
	background: #354458;
}

.container{
	background:white;
}


#form {
	box-shadow: 0px 10px 100px 1px black;
}
*/


#heading {
	background:#9c0f5f;
	color: white;
}

.navbar {
	background:#9c0f5f;
	border-radius: 0px;
}

#logo {
	width: 10%;
	margin-left: 20%;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
		background:#9c0f5f;
		border-color: #9c0f5f;
}
.jf {
	background: #EEE;
	padding: 43px;
}